# use "pip install -r requirements.txt" to install this
# local package
-e .

# external requirements
pandas 
jupyter 
matplotlib 
pandera
pytest
pytest-cov
nbdime 
black[jupyter]
nbqa
flake8
pandas-vet 
flake8-bugbear 
flake8-variables-names 
flake8-builtins

# black-jupyter # only for conda install
